/* CONTAINER STYLES */
.skills-holder {
  height: 100vh;
  background-color: #292929;
  display: flex;
  flex-direction: column;
  gap: 10vh;
  justify-content: center;
  align-items: center;
}

.skills-tiles-holder {
  display: flex;
  justify-content: center;
  gap: 3vw;
}

.skill-tile
{
  
}


/* TEXT STYLES */
.skills-header-text {
  color: whitesmoke;
}

/* DIVIDER STYLES */

.skills-projects-divider-holder {
  position: relative;
}

.skills-projects-divider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.skills-projects-divider svg {
  position: relative;
  display: block;
  width: calc(223% + 1.3px);
  height: 59px;
}

.skills-projects-divider .shape-fill {
  fill: #292929;
}
