@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body,html,#root
{
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;

}

body::-webkit-scrollbar
{
  display: none;
}

* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

.navbar
{
  height: 3%;
  width: 100%;
  padding-top: .5%;
  padding-bottom: .5%;
  align-items: center;
}
.loading
{
  background-color: black;
}
.navbar-ul
{
  padding-top: .5%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 5%;
}

.navbar-link
{
  text-decoration: underline;
  color: black;
  font-weight: 600;
  font-size: 130%;
  align-items: center;
}

.about-img-centered
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-img-centered-text
{
  color: white;
  font-size: 600%;
  z-index: 2;
}
.about-img-centered-subtxt
{
  padding-top: 2%;
  color: white;
  font-size: 400%;
  z-index: 2;
}

.about-me-img
{
  max-width: 100%;
  border-radius: 25px;
}

.about-me-header-txt
{
  text-align: center;
  font-size: 600%;
  color: white;
  margin-top: 8%; 
}

.about-me-body-text
{
  text-align: center;
  margin-top: 2%;
  font-size: 200%;
  color: white;
}


@media only screen and (max-width: 600px)
{
 .navbar
 {
   height: 3%;
   width: 100%;
   padding-top: .5%;
   padding-bottom: .5%;
 }
 .navbar-ul
{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar-link-li
{
  padding-top: 2.5%;
}

.navbar-link
{
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 145%;
}
 
}