.projects-footer-divider-holder
{
    position: relative;
}
.projects-footer-divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.projects-footer-divider svg {
    position: relative;
    display: block;
    width: calc(127% + 1.3px);
    height: 90px;
}

.projects-footer-divider .shape-fill {
    fill: #525252;
}

.footer {
    position: relative;
}

.footer-content
{
    position: absolute;

    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.footer-content h1 {
    font-size: 5rem;
}

.info-card-picture
{

    border: 5px solid;
}